.movie-grid{

display:grid;

grid-template-columns:
repeat(auto-fill,minmax(220px,1fr));

gap:28px;

width:100%;

margin:20px 0;

}

@media(max-width:992px){

.movie-grid{

grid-template-columns:
repeat(auto-fill,minmax(180px,1fr));

gap:20px;

}

}

@media(max-width:576px){

.movie-grid{

grid-template-columns:
repeat(2,1fr);

gap:16px;

}

}