.similar-section{

margin-top:70px;

}

.similar-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:24px;

}

.similar-header h2{

font-size:30px;

font-weight:700;

color:white;

letter-spacing:.5px;

}

@media(max-width:768px){

.similar-header h2{

font-size:24px;

}

}